.code-view {
    height: 50%;
    border: 1px solid #ddd; /* 테두리 추가 */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
    font-size: 14px; /* 폰트 크기 조정 */
    line-height: 1.6; /* 텍스트 간격 */
    white-space: pre-wrap; /* 공백과 줄바꿈 유지, 자동 줄바꿈 */
    word-wrap: break-word; /* 긴 단어 자동 줄바꿈 */
    overflow-wrap: break-word; /* 긴 단어 자동 줄바꿈 (표준 속성) */
    overflow-x: auto;
    overflow-y: auto;
}

.result-view {
    padding: 10px;
    height: 50%;
    gap: 5px; /* 요소 간 간격 */
    border: 1px solid #ddd; /* 테두리 추가 */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
    display: flex;
    flex-direction: column; /* 세로로 배열 */
    justify-content: center;
}

.result-text {
    font-size: 17px; /* 폰트 크기 증가 */
    font-weight: 600; /* 굵기 조정 */
    letter-spacing: 2px; /* 글자 간격 약간 조정 */
    padding-left: 30px; /* 왼쪽 여백 */
    font-family: 'Georgia', serif; /* 세리프체 사용으로 고급스러운 느낌 */
}

.result-table {
    height: auto;
    background-color: #fff;
    padding: 10px;
}

.result-table table {
    width: 100%;
    border-collapse: collapse;
}

.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.result-table th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.result-pic {
    height: 50%; /* 높이 지정 */
}

.result-pic img {
    max-width: 100%; /* 이미지 최대 너비를 컨테이너의 80%로 제한 */
    object-fit: contain; /* 이미지 비율 유지 */
}

.result-pic2 {
    display: flex; /* 플렉스박스 활성화 */
    flex-direction: row; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 10px; /* 각 이미지 간 여백 */
    object-fit: contain; /* 이미지 비율 유지 */
    flex-shrink: 0; /* 이미지가 작아지지 않도록 설정 */
    height: 20%; /* 높이 지정 */
    padding: 10px; /* 내부 여백 추가 */
    overflow-x: auto;
}

.sample-image2 {
    border: none;
}